	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="continue/css/default.css" />
	<link rel="stylesheet" type="text/css" href="continue/css/component.css" />
	<script src="continue/js/modernizr.custom.js"></script>
	<script src="continue/js/nlform.js"></script>
</head>
<body>

<div class="container">
<header class="clearfix">
			<h1><a href="<%= root_path %>" class=""><img class="logo" src = "../logo.png"></img></a></h1>
			<h1><img class="motto" src = "../motto.png"></img></h1>
			<nav>
				<a href="/" class="">Home</a>
				<a href="../welcome/about" class="">About</a>
				<a href="../welcome/delivery_schedule" class="">Delivery Schedule</a>
				<a href="../welcome/contact" class="">Contact</a>
				<a href="../welcome/faqs" class="">FAQs</a>
			</nav>
		</header>
</div>


<div class="help-text">
<h1> CHECKOUT </h1>
You will receive your order 

<% if Time.now.sunday? %>
next Sunday, <%= Date.today.next_week.end_of_week.strftime('%B') %> <%=  Date.today.next_week.end_of_week.strftime('%d') %>
<% elsif Time.now.saturday?  %>
	<% if Time.now.hour >= Time.new(2013, 10, 31, 17, 00, 00).hour %>
	next Sunday, <%= Date.today.next_week.end_of_week.strftime('%B') %> <%=  Date.today.next_week.end_of_week.strftime('%d') %>
	<% else %>
	this Sunday, <%= Date.today.end_of_week.strftime('%B') %> <%=  Date.today.end_of_week.strftime('%d') %>
	<% end %>
<% else %>
this Sunday, <%= Date.today.end_of_week.strftime('%B') %> <%=  Date.today.end_of_week.strftime('%d') %>
<% end %>

<% if @order.campus == "East" %>
 at your door between the following times:
 <div class="schedule">
	<ul>
	<% @schedules.each do |s| %>
		<li class="schedule-row">
			<%= s.dorm %>: <%= s.start_time %> to <%= s.end_time %>
		</li>
	<% end %>
	</ul>
</div>


<% elsif @order.campus == "West" %>
 at your door between the following times:

 <div class="schedule">
	<ul>
	<% @schedules.each do |s| %>
		<li class="schedule-row">
			<%= s.dorm %>: <%= s.start_time %> to <%= s.end_time %>
		</li>
	<% end %>
	</ul>
</div>

<% else %>
at your door between 
<% @schedules.each do |s| %>
	<%= s.start_time %> and <%= s.end_time %>.
<% end %>
<br>
<% end %>
<div class="contact-para">Please email us at <b><a href = "mailto:devilgroceries@gmail.com">devilgroceries@gmail.com</a></b> in case you will not be available during the delivery time.</div>
</div>

<%= form_for @order, :url => {:controller => "buy", :action => "purchased"}, :html => {:method => 'post', :id => "nl-form", :class => "nl-form"} do |f|%>
	<%= f.hidden_field :order_id, :value => @order.id %>
	My name is 
	<%= f.text_field :user_id, {:placeholder => "First and Last", "data-subline" => "eg. John Doe"} %>


	<% if @order.campus == "East" %>
	, and I live in 
	<%= select_tag(:building, options_for_select([["Alspaugh","Alspaugh"],["Aycock", "Aycock"],["Bassett","Bassett"],["Bell Tower", "Bell Tower"],["Blackwell","Blackwell"],["Brown","Brown"],["Epworth","Epworth"],["Gilbert-Addoms","Gilbert-Addoms"],["Giles","Giles"],["Jarvis","Jarvis"],["Pegram","Pegram"],["Randolph","Randolph"],["Southgate","Southgate"],["Wilson","Wilson"]])) %>
	dorm, room 
	<%= f.text_field :room, {:placeholder => "number", "data-subline" => "eg. 230, 015, etc."} %>
	
	<% elsif @order.campus == "West" %>
	, and I live in 
	<%= select_tag(:building, options_for_select([["Craven", "Craven"],["Crowell","Crowell"],["Wannamaker","Wannamaker"],["Edens", "Edens"],["Few","Few"],["Kilgo","Kilgo"],["Keohane","Keohane"]])) %>
	quad, room 
	<%= f.text_field :room, {:placeholder => "number", "data-subline" => "eg. 230, 015, etc."} %>
	<br>and house/building 
	<%= f.text_field :house, {:placeholder => "number", "data-subline" => "eg. 1A, FF, VO, 4E, Wannamaker residents designate floor number "} %>


	<% elsif @order.campus == "Central" %>
	I live near 
	<%= select_tag(:building, options_for_select([["Alexander", "Alexander"],["Anderson","Anderson"],["Erwin","Erwin"],["Faber", "Faber"],["Lewis","Lewis"],["Swift","Swift"],["Mill Village","Mill Village"],["Devil's Den", "Devil's Den"],["Oregon","Oregon"],["Pace","Pace"],["Yearby","Yearby"]])) %>
	 in apartment  
	<%= f.text_field :room, {:placeholder => "number", "data-subline" => "eg. 201"} %>


	<% end %>
	<br>
	Please send a confirmation email with my delivery information to 
	<%= f.text_field :email, {:placeholder => "NetID", "data-subline" => "eg. abc123"} %>@duke.edu.
	<br>
	<%= button_tag "Place Order", {:class => "nl-submit"} %>
<script src="continue/js/paypal-button.min.js?merchant=anshuman.prasad93-facilitator@gmail.com"
    data-button="buynow"
    data-name="My product"
    data-amount="1.00"
    data-env="sandbox"
></script>
</div>
	<div class="nl-overlay"></div>
<% end %>
<script>
	var nlform = new NLForm( document.getElementById( 'nl-form' ) );
</script>
</body>