<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="purchased/css/default.css" />
	<link rel="stylesheet" type="text/css" href="purchased/css/component.css" />
</head>
<body>
<div class="container">
		<!-- Header -->
		<header class="clearfix">
			<h1><a href="<%= root_path %>" class=""><img class="logo" src = "../logo.png"></img></a></h1>
			<h1><img class="motto" src = "../motto.png"></img></h1>
			<nav>
				<a href="/" class="">Home</a>
				<a href="../welcome/about" class="">About</a>
				<a href="../welcome/contact" class="">Contact</a>
				<a href="../welcome/faqs" class="">FAQs</a>
			</nav>
		</header>
		<!-- Header end -->
</div>

<div class="help-text">
	<h1>Purchase Information</h1>
	<div class="about-text">

	<% if @order.campus == "East" %>
	Your order has been processed successfully! <br><br>
	Please carefully read the following <b>delivery information</b>:<br>
	You may pick up your order on Sunday (<%= @order.delivery_date.strftime("%m/%d/%Y") %>) in <%= @dorm.dorm %>'s common room 

	<% if @dorm.room != nil %>
	(<%= @dorm.room %>) 
	<% end %>

	between <b><%= @dorm.start_time %></b> and <b><%= @dorm.end_time %></b>.<br><br>
	A confirmation email has been sent to the address you provided containing delivery instructions and a copy of the receipt. Please email us at <a href = "mailto:devilgroceries@gmail.com"><b>devilgroceries@gmail.com</b></a> if you have any questions.

	<% elsif @order.campus == "West" %>
	Your order has been processed successfully! <br><br>
	Please carefully read the following <b>delivery information</b>:<br>
	You will receive your order at your door on Sunday (<%= @order.delivery_date.strftime("%m/%d/%Y") %>) between <b><%= @dorm.start_time %></b> and <b><%= @dorm.end_time %></b>.<br><br>
	A confirmation email has been sent to the address you provided containing delivery instructions and a copy of the receipt. Please email us at <a href = "mailto:devilgroceries@gmail.com"><b>devilgroceries@gmail.com</b></a> if you have any questions.

	<% else %>
	Your order has been processed successfully! <br><br>
	Please carefully read the following <b>delivery information</b>:<br>
	You will receive your order at your door on Sunday (<%= @order.delivery_date.strftime("%m/%d/%Y") %>) between <b><%= @dorm.start_time %></b> and <b><%= @dorm.end_time %></b>.<br><br>
	A confirmation email has been sent to the address you provided containing delivery instructions and a copy of the receipt. Please email us at <a href = "mailto:devilgroceries@gmail.com"><b>devilgroceries@gmail.com</b></a> if you have any questions.

	<% end %>
	</div>
</div>


</body>