<!DOCTYPE html>
<head></head>
<body>
<img src="http://www.devilgroceries.com/logo.png"></img>
Dear <%= @order.user_id %>, <br><br>
This is your DevilGroceries receipt. Below is a summary of items purchased. You will receive your order 
<% if Time.now.saturday? or Time.now.sunday? %>
next Sunday, <%= Date.today.next_week.end_of_week.strftime('%B') %> <%=  Date.today.next_week.end_of_week.strftime('%d') %>th 
<% else %>
this Sunday, <%= Date.today.end_of_week.strftime('%B') %> <%=  Date.today.end_of_week.strftime('%d') %>th
<% end %><br><br>


<table style = "border: 1px solid black; text-align:center;">
<tr>
<td style = "border-bottom: 1px solid black;border-right: 1px solid black; text-align:center;"><b>Item Name</b></td>
<td style = "border-bottom: 1px solid black;border-right: 1px solid black; text-align:center;"><b>Quantity</b></td>
<td style = "border-bottom: 1px solid black;border-right: 1px solid black; text-align:center;"><b>Unit</b></td>
<td style = "border-bottom: 1px solid black;text-align:center;"><b>Price</b></td>
</tr>
<% @list.each do |l| %>
<tr>
<td style = "border-bottom: 1px solid black;border-right: 1px solid black; text-align:center;"><%= l.item.name %></td>
<td style = "border-bottom: 1px solid black;border-right: 1px solid black; text-align:center;"><%= l.quantity %></b></td>
<td style = "border-bottom: 1px solid black;border-right: 1px solid black; text-align:center;"><%= l.item.unit %></td>
<td style = "border-bottom: 1px solid black;text-align:center;"><%= number_to_currency(l.item.selling_price * l.quantity, :precision => 2) %></td>
</tr>
<% end %>
</table>


<br>
Subtotal: <%= number_to_currency(@order.total, :precision => 2) %><br> 
Delivery Charge: + $3.99<br>
<b>Total: <%= number_to_currency(@order.total + 3.99, :precision => 2) %></b>
<br><br>
Thank you for your purchase!
<br>
The Groceries on Demand team
</body>
</html>