<!DOCTYPE html>
<head></head>
<body>
Dear <%= @order.user_id %>, <br><br>
This is your Groceries on Demand receipt. Below is a summary of items purchased. You will receive your order 
<% if Time.now.saturday? or Time.now.sunday? %>
next Sunday, <%= Date.today.next_week.end_of_week.strftime('%B') %> <%=  Date.today.next_week.end_of_week.strftime('%d') %>th 
<% else %>
this Sunday, <%= Date.today.end_of_week.strftime('%B') %> <%=  Date.today.end_of_week.strftime('%d') %>th
<% end %><br><br>


<table>
<tr>
<td><b>Item Name</b></td>
<td><b>Quantity</b></td>
<td><b>Unit</b></td>
<td><b>Price</b></td>
</tr>
<% @list.each do |l| %>
<tr>
<td><%= l.item.name %></td><td> <%= l.quantity %></td><td> <%= l.item.unit %></td><td><%= number_to_currency(l.item.selling_price * l.quantity, :precision => 2) %></td>
</tr>
<% end %>
</table>


<br>
Subtotal: <%= number_to_currency(@order.total, :precision => 2) %><br> 
Delivery Charge: + $3.99<br>
<b>Total: <%= number_to_currency(@order.total + 3.99, :precision => 2) %></b>
<br><br>
Thank you for your purchase!
<br>
The Groceries on Demand team
</body>
</html>