<ul>
	<% @item.each do |item| %>
	<li class="item">
		<div class = "transparent-dropdown"><img src="logo.png" class="logo-drop"></img><br><p>Adding to cart...</p><img src="ajax-loader.gif"></img></div>
		<%= image_tag item.image.url, {:class => "cbp-vm-image"} %>
		<h3 class="cbp-vm-title"><%= item.name %></h3>
		<div class="cbp-vm-details">
			<% if item.duke_price.blank? %>
			Not Available @ Duke
			<% else %>
			Duke Equivalent: 
			<strike class="strikethrough"><span class="duke-price"><%= number_to_currency(item.duke_price, :precision => 2) %></span></strike>
			<% end %>
		</div>
		<div class="cbp-vm-price"><%= number_to_currency(item.selling_price, :precision => 2) %></div>
		<div class="cbp-vm-unit"><%= item.unit %></div>
		<%= link_to("Add to cart", shopping_cart_path(:item_id => item.id), {:remote => true, :'data-update-target' => "cart-count", :class => "cbp-vm-icon cbp-vm-add"}) %>
	</li>
	<% end %>
	<%= paginate @item, :window => 2, :remote => true  %>
</ul>
<script>
/* Add button Jquery */
$(document).ready(function(){
	$(".cbp-vm-add").on("click", function(){
		var item = $(this);
		var drop = $(this).parent('li').children('.transparent-dropdown').eq(0);
		drop.fadeIn(500).css('display', 'block');
		setTimeout(function(){
			item.fadeIn(5000).css('background-color', "#006600");
			item.text("Added to cart");
		}, 1000);

		setTimeout(function(){
			drop.fadeIn(1000).css('display', "none");
		}, 1000);

	});
});
</script>