<ul>
	<% @item.each do |item| %>
	<li class="item">
		<a class="cbp-vm-image" href="#"><%= image_tag item.image.url %></a>
		<h3 class="cbp-vm-title"><%= item.name %></h3>
		<div class="cbp-vm-details">
			<% if item.duke_price.blank? %>
			Not Available @ Duke
			<% else %>
			Duke Equivalent: 
			<strike class="strikethrough"><span class="duke-price"><%= number_to_currency(item.duke_price, :precision => 2) %></span></strike>
			<% end %>
		</div>
		<div class="cbp-vm-price"><%= number_to_currency(item.selling_price, :precision => 2) %></div>
		<div class="cbp-vm-unit"><%= item.unit %></div>
		<%= link_to("Add to cart", shopping_cart_path(:item_id => item.id), {:remote => true, :'data-update-target' => "cart-count", :class => "cbp-vm-icon cbp-vm-add"}) %>
	</li>
	<% end %>
	<%= paginate @item, :window => 2, :remote => true  %>
</ul>
<script>
/* Add button Jquery */
$(document).ready(function(){
	$(".cbp-vm-add").on("click", function(){
		$(this).fadeIn(5000).css('background-color', "#d54f30");
		setTimeout(function(){
			$(".cbp-vm-add").fadeIn(5000).css('background-color', "#47a3da");
		}, 1300);
	});
});
</script>