<ul>
	<% @item.each do |item| %>
	<li>
		<a class="cbp-vm-image" href="#"><%= image_tag item.image.url %></a>
		<h3 class="cbp-vm-title"><%= item.name %></h3>
		<div class="cbp-vm-price">$<%= item.selling_price %></div>
		<div class="cbp-vm-details">
			<% unless item.duke_price.blank? %>
			<strike>$<%= item.duke_price %> at Duke</strike>
			<% end %>
		</div>
		<div class="cbp-vm-unit"><%= item.unit %></div>
		<%= link_to("Add to cart", shopping_cart_path(:item_id => item.id), {:remote => true, :'data-update-target' => "cart-count", :class => "cbp-vm-icon cbp-vm-add"}) %>
	</li>
	<% end %>
	<%= paginate @item, :window => 2, :remote => true  %>
</ul>