	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="shopping/home/css/default.css" />
	<link rel="stylesheet" type="text/css" href="shopping/home/css/component.css" />
	<link rel="stylesheet" type="text/css" href="shopping/home/css/cart.css" />
	<script src="shopping/home/js/modernizr.custom.js"></script>
</head>
<body>
	<div class="transparency"></div>
	<div class="cart-dropdown">
		<a href="/shopping/cartdrop" id="cart-hidden" data-remote="true"></a>
		<%= link_to("", {:action => 'cartcountupdate'}, {:remote => true, :'data-update-target' => 'cart-count', :class => "cart-hidden-close", :id => "cart-hidden-close"}) %>		
		<div class="close_div">
			<p>
				<a href='#' id = "close-button" data-remote="true" data-update-target="cart-count">close <i class="icon-remove"></i></a>
			</p>
			<h1>Shopping Cart</h1>
			<h2 class="order-date">Order now to receive your groceries on
			<% if Time.now.saturday? or Time.now.sunday? %>
			<div class="delivery-date">Sunday, <%= Date.today.next_week.end_of_week.strftime('%B') %> <%=  Date.today.next_week.end_of_week.strftime('%d') %>th</div> 
			<% else %>
			<div class="delivery-date">Sunday, <%= Date.today.end_of_week.strftime('%B') %> <%=  Date.today.end_of_week.strftime('%d') %>th </div>
			<% end %>
		</h2>
		</div>
		<div id="cart-list">
		</div>
	</div>
	<div class="container">
		<!-- Header -->
		<header class="clearfix">
			<h1><a href="<%= root_path %>" class=""><img class="logo" src = "logo.png"></img></a></h1>
			<h1><img class="motto" src = "motto.png"></img></h1>
			<nav>
				<a href="/" class="">Home</a>
				<a href="welcome/about" class="">About</a>
				<a href="welcome/contact" class="">Contact</a>
				<a href="welcome/faqs" class="">FAQs</a>
			</nav>
		</header>
		<!-- Header end -->
		<!-- Sidebar -->
		<div class="sidebar">
			<h1>Menu</h1>
			<ul>
				<li>
					<%= link_to(shopping_result_path(:category_id => -1), {:remote => true, :'data-update-target' => "result", :class => "categories", :id => "all_items"}) do %>
					All Items
					<% end %>
				</li>
				<% @category.each do |category| %>
				<li>
					<%= link_to(shopping_result_path(:category_id => category.id), {:remote => true, :'data-update-target' => "result", :class => "categories"}) do %>
					<i class="icon icon-plus-sign"></i> <%= category.category_name %>
					<% end %>
					<ul>
						<% @subcategory.each do |subcategory| %>
						<% if subcategory.category_id == category.id %>
						<li>
							<%= link_to(shopping_result_path(:subcategory_id => subcategory.id), {:remote => true, :'data-update-target' => "result", :class => "subcategories"}) do %>
							<i class="icon icon-caret-right"></i>
							<%= subcategory.subcategory_name %>
							<% end %>
						</li>
						<% end %>
						<% end %>
					</ul>
				</li>
				<% end %>
			</ul>
		</div>
		<!-- Sidebar end -->
		<!-- Main -->
		<div class="main">
			<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
				<div class = "cart-container">
					<a href="/shopping/cartdrop" class="cart" id="cart-id" data-remote="true">Shopping Cart &nbsp<i class="icon icon-shopping-cart"></i> <span id="cart-count">(<%= @relation %>)</span></a>
				</div>
				<div class="cbp-vm-options">
					<a href="#" id="grid-button" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
					<a href="#" id="list-button" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
				</div>
				<div id = "result">

				</div>
			</div>
		</div>
		<!-- Main end -->
	</div>
	<!-- Container end -->
	<!-- JS -->
	
	<script src="shopping/home/js/menu.js"></script>
	<script src="shopping/home/js/classie.js"></script>
	<script src="shopping/home/js/cbpViewModeSwitch.js"></script>
	<script src="shopping/home/js/cart_ajax.js"></script>
	<script src="shopping/home/js/cart-dropdown.js"></script>
	<script src="shopping/home/js/jquery.quickfit.js"></script>
	<script>
	jQuery(function(){
		jQuery('#all_items').click();
	});
	</script>
	<!-- JS end -->
</body>