<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="delivery_schedule/css/default.css" />
<link rel="stylesheet" type="text/css" href="delivery_schedule/css/component.css" />
<script src="delivery_schedule/js/faq.js"></script>
</head>
<body>
	<div class="container">
		<!-- Header -->
		<header class="clearfix">
			<h1><a href="<%= root_path %>" class=""><img class="logo" src = "../logo.png"></img></a></h1>
			<h1><img class="motto" src = "../motto.png"></img></h1>
			<nav>
				<a href="/" class="">Home</a>
				<a href="../welcome/about" class="">About</a>
				<a href="../welcome/delivery_schedule" class="">Delivery Schedule</a>
				<a href="../welcome/contact" class="">Contact</a>
				<a href="../welcome/faqs" class="">FAQs</a>
			</nav>
		</header>
		<!-- Header end -->
		<div class="help-text">
			<h1>Delivery Schedules</h1>

			<div class="about-text">
				<div class="faq">

					<div class="question">
						<b>East Campus</b><i class="icon-plus-sign"></i>
					</div>
					<div class="answer">
						<div class="schedule">
							<ul>
								<% @east.each do |e| %>
								<li class="schedule-row">
									<%= e.dorm %>: <%= e.start_time %> to <%= e.end_time %>
								</li>
								<% end %>
							</ul>
						</div>
					</div>
				</div>

				<div class="faq">
					<div class="question">
						<b>West Campus</b><i class="icon-plus-sign"></i>
					</div>
					<div class="answer">
						<div class="schedule">
							<ul>
								<% @west.each do |w| %>
								<li class="schedule-row">
									<%= w.dorm %>: <%= w.start_time %> to <%= w.end_time %>
								</li>
								<% end %>
							</ul>
						</div>
					</div>
				</div>

				<div class="faq">
					<div class="question">
						<b>Central Campus</b><i class="icon-plus-sign"></i>
					</div>
					<div class="answer">
						<div class="schedule">
							<ul>
								<% @central.each do |c| %>
								<li class="schedule-row">
									<%= c.start_time %> to <%= c.end_time %>
								</li>
								<% end %>
							</ul>
						</div>
					</div>
				</div>

				</div>
			</div>
		</div>

	</body>